/* styles.css */

/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

/* Reseteo de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #1e1e1e;
    color: #f5f5f5;
    line-height: 1.6;
}

header {
    background-color: #282c34;
    padding: 20px 0;
    text-align: center;
}

.header-content h1 {
    font-size: 2em;
    color: #61dafb;
}

.cursor {
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to { opacity: 0; }
    50% { opacity: 1; }
}

.social-links {
    margin: 20px 0;
}

.social-links a {
    margin: 0 10px;
    display: inline-block;
}

.social-links img {
    width: 35px;
    height: 35px;
}

.main-menu ul {
    list-style: none;
    padding: 0;
}

.main-menu ul li {
    display: inline;
    margin: 0 15px;
    background-color: #2e2e2e;
    padding: 5px;
    border-radius: 10%;
}

.main-menu ul li a {
    color: #61dafb;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.main-menu ul li a:hover {
    color: #21a1f1;
}

section#about {
    padding: 50px 20px;
    text-align: center;
}

.profile-photo {
    width: 150px;
    border-radius: 50%;
    margin: 0 auto 20px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #61dafb;
}

.intro {
    margin-bottom: 30px;
}

.experience-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.experience-box {
    background-color: #2e2e2e;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s;
}

.experience-box:hover {
    transform: translateY(-10px);
}

.experience-box img {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

.experience-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #21a1f1;
}

section#experience {
    padding: 50px 20px;
    text-align: center;
}

.full-width-experience-box {
    display: flex;
    flex-wrap: wrap;
    background-color: #2e2e2e;
    border-radius: 10px;
    margin: 20px 0;
    padding: 20px;
    justify-content: center; /* Alinea los contenidos al centro */
}

.experience-content {
    flex: 1;
    min-width: 300px;
    margin: 10px;
    text-align: left; /* Alinea el texto a la izquierda */
}

.full-width-experience-box img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin: 10px;
    align-self: center; /* Alinea las imágenes al centro */
}

footer {
    background-color: #282c34;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content p {
    margin-bottom: 20px;
}

.footer-content .social-links {
    margin-top: 10px;
}

.footer-content .social-links a {
    margin: 0 10px;
}

/* Nuevos estilos para listas */
ul, ol {
    padding-left: 20px;  /* Ajusta este valor para controlar el espacio entre el punto y el texto */
}

ul li, ol li {
    padding-left: 0;  /* Elimina cualquier padding adicional en los elementos de lista */
    margin-left: 0;   /* Elimina cualquier margen adicional en los elementos de lista */
    margin-bottom: 10px; /* Añade espaciado entre los elementos de la lista */
}

/* Ajustes para móviles */
@media (max-width: 768px) {
    .full-width-experience-box {
        flex-direction: column; /* Cambia la dirección de flex a columna */
        align-items: center; /* Alinea los contenidos al centro */
    }

    .full-width-experience-box img {
        margin-bottom: 20px; /* Añade margen inferior a las imágenes */
    }
}
/* Nuevo estilo para los párrafos con clase .intro-experience */
.intro-experience {
    font-size: 1.4em; /* Ajusta el tamaño del texto */
    text-align: center;
}
/* Estilos para la imagen */
.work-in-progress {
    width: 70%; /* La imagen ocupará todo el ancho del contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
    display: block; /* Para asegurar que no haya espacios innecesarios alrededor de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    max-width: 100%; /* Limita el tamaño máximo de la imagen al ancho del contenedor */
}

/* Estilos para la foto de perfil */
.profile-photo {
    width: 20%;
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
    display: block; /* Para asegurar que no haya espacios innecesarios alrededor de la foto */
    margin: 0 auto; /* Centra la foto de perfil horizontalmente */
    max-width: 100%; /* Limita el tamaño máximo de la foto de perfil al ancho del contenedor */
}

.language-selector {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.language-selector a {
    margin: 0 10px;
}

.flag {
    width: 30px; /* Ajusta el tamaño según tus preferencias */
    height: auto;
    border-radius: 15%; /* Esto crea un efecto redondeado en las imágenes de la bandera */
    border: 2px solid transparent;
    transition: border-color 0.3s ease; /* Agrega una transición suave al cambiar el color del borde */
}

.flag:hover {
    border-color: #333; /* Cambia el color del borde al pasar el mouse sobre la bandera */
}