/* Estilos Base */
body {
    font-family: 'Ubuntu Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: #333333; /* Modificado a un fondo oscuro */
    color: #ffffff; /* Texto en blanco para contraste */
}

header {
    background-color: #333333; /* Consistente con el fondo del body */
    color: white;
    padding: 2em;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

h1 {
    margin: 0;
    white-space: nowrap;
}

.social-links {
    display: flex;
    align-items: center; /* Alinea los elementos del menú verticalmente en el centro */
}

.social-links a {
    margin-left: 10px;
}

.social-links img {
    width: 30px;
    height: 30px;
    display: block;
}

.main-menu {
    margin-left: 20px;
}

.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center; /* Alinea los elementos del menú verticalmente en el centro */
}

.main-menu li {
    margin-left: 20px;
}

.main-menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.main-menu a:hover {
    text-decoration: underline;
}

.profile-photo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3); /* Sombra más clara para resaltar en fondo oscuro */
}

section {
    background-color: rgb(39, 39, 39); /* Fondo oscuro para todas las secciones */
    color: #ffffff; /* Texto en blanco para contraste */
    padding: 0;
    margin: 0;
    max-width: 100%;
    text-align: center;
}

#about .intro {
    background-color: rgb(39, 39, 39); /* Un poco más claro que el fondo general para diferenciar */
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    /*box-shadow: 0 14px 18px rgba(255, 255, 255, 0.2);*/
    margin: 20px auto;
    /*width: 100%;*/
    max-width: 1400px;
    text-align: center;
    font-size: 28px;
}

#about h2, #experience h2 {
    text-align: center;
    color: #fff;
    font-family: 'Ubuntu Mono', monospace;
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 38px;
    letter-spacing: 1px;
}

#experience {
    background-color: rgb(39, 39, 39); /* Fondo oscuro para todas las secciones */
    color: #ffffff; /* Texto en blanco para contraste */
    padding: 40px 20px; /* Margen horizontal */
    margin: 0;
    max-width: 100%;
    text-align: center;
  }

.experience-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    margin: auto;
}

.experience-box {
    background-color: rgb(39, 39, 39);
    color: #ffffff;
    padding: 10px;
    /*box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);*/
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-style: solid;
    border-color: white;
}

.experience-box img {
    max-width: 25%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.experience-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 28px;
}

.experience-box p {
    padding: 8px;
    font-size: 20px;
}

.cursor {
    display: inline-block;
    background-color: white;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.full-width-experience-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 30px 30px; /* Margen vertical */
    /*box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);*/
    background-color: rgb(39,39,39);
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    font-size: 25px;
  }

  .intro-experience {
    font-weight: bold;
    font-size: 40px;
  }

.full-width-experience-box img {
    width: 20%;
    height: auto;
    margin-left: 20px;
    border-radius: 10px;
}

.experience-content {
    width: 45%;
    text-align: left;
}

footer {
    background-color: #333333;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-top-style: solid;
    border-color: white;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-content p {
    margin: 10px 0;
    font-size: 16px;
}

.footer-content .social-links {
    display: flex;
}

.footer-content .social-links a {
    margin: 0 10px;
}

.footer-content .social-links img {
    width: 30px;
    height: 30px;
    border-radius: 8px; /* Añade esta línea para redondear los bordes */
}

/* Tablets */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        align-items: center;
    }

    h1 {
        margin-bottom: 10px;
        font-size: 18px;
        text-align: center;
    }

    .social-links {
        justify-content: center;
    }

    .main-menu {
        margin-top: 10px;
    }

    .main-menu ul {
        flex-direction: column;
        align-items: center;
    }

    .main-menu li {
        margin-left: 0;
        margin-top: 10px;
    }

    .experience-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .full-width-experience-box {
        flex-direction: column;
    }
    
    .full-width-experience-box img {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }
    
    .experience-content {
        width: 100%;
        text-align: center;
    }
    .footer-content p {
        font-size: 14px;
    }

    .footer-content .social-links a {
        margin: 0 5px;
    }
}

/* Móviles */

@media (max-width: 480px) {
    .header-content {
        padding: 0.5em;
    }

    .main-menu a {
        font-size: 14px;
    }

    h1 {
        font-size: 16px;
    }

    .social-links a {
        margin-left: 5px;
    }

    .experience-container {
        grid-template-columns: 1fr;
    }
    .footer-content p {
        font-size: 12px;
    }

    .footer-content .social-links a {
        margin: 0 3px;
    }
}